*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav{
    background: #ff9933;
} 

body{
    background: #fff;
}
.head a{
    color: white;
    text-decoration: none;
}
.head h6{
    color: white;
    position: absolute;
    left: 40%;
}
.sent{
    color:red;
}
.r1{
    width: 100%;
    height: 200px;
    background: red;
    
}
.info-data{
    background: white;
    border: 5px solid #ff9933;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
.info-data h5{
    color: white;
    background:
  
}
.heading-data{
    background: #ff9933;
    margin-top:-3px;
}

.r1{
    width: 100%;
     height: 130px !important;
     background:linear-gradient(orange,white,green);
}


.prf-img{
    width:  150px;
    height: 150px;
    border: 4px solid #fff;
    margin-top:-80px;
    z-index: 1;
    
   
    border-radius: 200px;
    
}
.prf-img img{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    
    
    background: url("../img/img.png");
    background-size: cover;
}
.edit-btn{
     position: relative;
     float: right;
     top: -21%;
    left: -20%;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 200px;
   
    
    opacity: .9;
    
}
.edit-btn a{
    border: ;
    width: 40px;
    height: 30px;
    padding-top: -7px;
    color: black;
    
    
}
.nav-bar{
    background: rgba(0,0,0,.9);
}
.nav-bar h5{
    margin-left: ;
}
.edit-bg-btn{
     position: relative;
     top: -28px;
     float: right;
    background: #fff;
    width: 60px;
    height: 30px;
    border-radius: 2px;
    opacity: .9;
}
.edit-bg-btn a{
    border: ;
    width: 60px;
    height: 30px;
    padding-top: -5px;
    color: black;
    
    
}
.name h4{
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 15px;
    
}
.discription a{
    text-decoration: none;
    cursor:default;
    color: black;
}
.discription a:hover{
    color: black;
}

.e{
    width: 50px;
    height: 50px;
    background: ;
    border-radius: 200px;
    margin: 1rem;
    color: ;
    
}
.e img{
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.09);
    border-radius: 200px;
    padding: 13px;
     
    
}

.e p{
    font-size: 11px;
    font-weight: 640;
}
.e a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.information a{
    color: black;
}
.info-btn button{
    color: black;
    
}
.info-btn button:hover{
    color: black;
}
.more-content{
    width: 200px;
    height: 100px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 14px;
    padding-top: 5px;
    position: relative;
   
    left: 50%;
    z-index: 1;
    transform: translateY(-370%);
}
.more-content-other{
    width: 200px;
    height: 100px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 14px;
    padding-top: 5px;
    position: relative;
   
    left: 50%;
    z-index: 1;
    transform: translateY(-368%);
}
.more-content ul li{
    list-style: none;
    border-bottom: 1px solid grey;
   
}
.more-content ul li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-transform: capitalize;
}
.caret{
    width: 15px;
    height: 15px;
    background: #999;
    position: absolute;
    top: -8%;
    left: 58%;
    transform: rotate(45deg);
    
}
.more-hide{
    display: none;
}
.more-content-other ul li{
    list-style: none;
    border-bottom: 1px solid grey;
   
}
.more-content-other ul li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-transform: capitalize;
}
.caret{
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    top: -8%;
    left: 58%;
    transform: rotate(45deg);
    
}
.edu{
    border-bottom: 2px solid black;
}
.skill{
    border-bottom: 3px solid black;
}
.body ul li{ 
    list-style:disc;
    margin-left: 10px;
   
}
.bbtn a{ 
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.bbtn a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.bio-content{
    border: 2px solid grey;
    width: 90%;
    border-radius: 7px;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,.2);
    
    z-index: 1;
}
.bio-content textarea{
    width: 100%;
    padding: 10px;
    border: none;
}
.bio-content textarea:focus{
    outline: none;
}
.bio-content .bio-close{
    font-size: 1.3rem;
    outline: none;
    border: 0px;
    cursor: pointer;
}


